body{
    background-color: #00008B;
}

.card{
    width: 35rem;
    margin-bottom: 5rem!important;

}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.card-body{
    padding: 3rem!important;
    padding-bottom: 3rem!important;
    color: rgb(175, 53, 175);
}

.card-text{
    font-size: 0.9rem;
    padding:0.4rem 1.9;
}

.container-fluid{
    padding-top:6rem!important;
    /*padding-bottom: 18rem!important;*/
    margin-bottom: 25rem!important;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition:transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.8);
}